/******************************************************
* LAYOUT.SCSS
*	Main site layout styles go in this file.
*	Iclude styles for the site header and footer,
*	main body and sidebars, etc.
*	All styles for components/sections that are used
*	site wide.
\******************************************************/

