/******************************************************
* MAIN.SCSS
*	Main site element styles go in this file.
*	Iclude styles for primary elements that are
*	used site wide (a, h1, p, body, etc).
\******************************************************/

:root {
    --masala: #454545;
    --thatch: #93bc91;
}

@font-face {
	font-family: BrandonTextRegular;
	src: url(/_/css/fonts/BrandonTextRegular.otf);
}


@font-face {
	font-family: FreightTextLightItalic;
	src: url(/_/css/fonts/FreightTextLightItalic.ttf);
}

@font-face {
	font-family: FreightTextLight;
	src: url(/_/css/fonts/FreightTextLight.ttf);
}

header {
	padding-top: 30px;
}

.koLogo {
	background-image: url(/_/img/inuk_logo.png);
	height:80px; width:auto;
	background-repeat: no-repeat;
	background-size: contain;

}

.koNav {
	height: 80px;
}

.koNav ul {
	display: table-row;
	text-align: right;
}

.koNav ul li {
	display: table-cell;
    height: 80px;
    list-style-type: none;
    margin: 10px;
    padding-left: 10px;
    vertical-align: middle;
}

.koLink {
	font-family: BrandonTextRegular;
	color: #454545;
}

.koLinkActive {
	color: #93bc91 !important;
}

.koLink:hover {

}

.koProdImg {
	width: 100%;
}


.koProdBreak {
	height: 30px;

}

.koProdInfo {
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
	opacity: 0;
	top: 0;
	position: absolute;
	width:93%;
	height:100%;
	/*background-color: green;*/
	background-image: url(/_/img/stamp.png);
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: center center;
}

.koProdInfoShow {
	opacity: 1;
}

.koProdInfo > h1 {
	font-family: FreightTextLightItalic;
	font-size: 30px;
	color: #454545;
}

.koProdInfo > div {
	bottom: 3%;
	position: absolute;
	width: 100%;
}

.koProdInfo > div > h3 {
	font-family: FreightTextLightItalic;
	font-size: 20px;
	color: #454545;
	padding-top: 60%;
}

.koDesc {
	line-height: 24px;
}


.koDesc > h1 {
	font-family: FreightTextLightItalic;
	font-size: 36px;
	color: #454545;
}

.koDesc > p {
	font-family: FreightTextLightItalic;
	font-size: 20px;
	color: #454545;
}

.koDesc2 > p {
	font-family: FreightTextLight;
	font-size: 13px;
	color: #454545;
}

.koDesc2 > table > tbody > tr > td {
	line-height: 11px;
	width: 50%;
}

.koDesc2 > table > tbody > tr > td > p {
	font-family: FreightTextLight;
	font-size: 13px;
	color: #454545;
}
/*Override Bootstrap Hover*/
.nav > li > a:hover {
	background-color: transparent; !important;
	text-decoration: underline;
}

